<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>inicio</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/cad_jovem.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Multi-Level-Navbar.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/sidebar-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="highlight-clean" style="background-color: #68b04d;padding-top: 26px;padding-bottom: 9px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: #ffffff;">PORTAL DE OPORTUNIDADES</h2>
            </div>
        </div>
    </div>
    <div class="container profile profile-view" id="profile">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form>
            <div class="form-row profile-row">
                <div class="col-md-4 relative">
                    <div class="avatar">
                        <div class="avatar-bg center"></div>
                    </div>
                    <div></div>
                    <div class="form-row">
                        <div class="col"><input class="d-xl-flex justify-content-xl-center form-control" type="file" name="foto_perfil" style="width: 288px;">
                            <hr>
                        </div>
                    </div>
                    <h1 class="text-center" style="font-size: 21px;">Escreva um pouco sobre você. Monte sua biografia.</h1><textarea class="form-control" style="margin-top: 23px;background-color: #f4f4f4;height: 152px;" name="des_txt_biografia"></textarea></div>
                <div class="col-md-8">
                    <h1 class="text-center">Olá, crie seu perfil</h1>
                    <hr>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Primeiro nome:</label><input class="form-control" type="text" name="nom_primeiro" style="background-color: #f4f4f4;"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Sobrenome:</label><input class="form-control" type="text" name="nom_sobrenome" style="background-color: #f4f4f4;"></div>
                        </div>
                    </div>
                    <div class="form-group"><label class="text-justify">E-mail:</label><input class="form-control" type="email" style="background-color: #f4f4f4;" name="des_end_email"></div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Senha:</label><input class="form-control" type="password" style="background-color: #f4f4f4;" name="txt_senha"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Confirme sua senha:</label><input class="form-control" type="password" style="background-color: #f4f4f4;" name="txt_senha_conf"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Data de nascimento:</label><input class="form-control" type="date" style="background-color: #f4f4f4;"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Cidade em que reside:</label><select class="form-control" name="nom_cidade" style="background-color: #f4f4f4;"><optgroup label="This is a group"><option value="12" selected="">This is item 1</option><option value="13">This is item 2</option><option value="14">This is item 3</option></optgroup></select></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>CPF:</label><input class="form-control" type="number" style="background-color: #f4f4f4;" name="num_cpf"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>RG:</label><input class="form-control" type="number" style="background-color: #f4f4f4;" name="num_rg"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Número de telefone:</label><input class="form-control" type="tel" style="background-color: #f4f4f4;"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Número de celular:</label><input class="form-control" type="tel" style="background-color: #f4f4f4;"></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col">
                            <div class="form-group"><label>Nível de escolaridade:</label><select class="form-control" style="background-color: #f4f4f4;" name="ind_nivel_escolrde"><optgroup label="Selecione um"><option value="1">Ensino Fundamental Completo</option><option value="2">Ensino Fundamental Incompleto</option><option value="3">Ensino Médio Completo</option><option value="4">Ensino Médio Incompleto</option><option value="6">Ensino Superior Completo</option></optgroup></select></div>
                            <hr>
                        </div>
                        <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit">Continuar</button><a class="btn btn-danger form-btn" role="button" href="inicio.html">Cancelar</a></div>
                    </div>
                    <hr>
                    <div class="form-group"><label>Qualificações:</label><input class="form-control" type="email" autocomplete="off" required="" name="email" style="background-color: #f4f4f4;"><button class="btn btn-primary form-btn" type="submit" style="margin-left: 0px;margin-top: 10px;">Adicionar</button></div>
                    <div
                        class="form-group"><label>Aptidões:</label><input class="form-control" type="email" autocomplete="off" required="" name="email" style="background-color: #f4f4f4;"><button class="btn btn-primary form-btn" type="submit" style="margin-left: 0px;margin-top: 10px;">Adicionar</button></div>
                <div
                    class="form-row">
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Idioma:</label><input class="form-control" type="email" autocomplete="off" required="" name="email" style="background-color: #f4f4f4;"><button class="btn btn-primary form-btn" type="submit" style="margin-left: 0px;margin-top: 10px;">Adicionar</button></div>
                    </div>
                    <div class="col-sm-12 col-md-6">
                        <div class="form-group"><label>Nível:</label><select class="form-control" style="background-color: #f4f4f4;"><optgroup label="Nível"><option value="1">Básico</option><option value="2">Intermediario</option><option value="3">Proficiente</option><option value="4">Fluente</option></optgroup></select></div>
                    </div>
            </div>
            <div class="form-group"><label>Áreas de interesse:</label><input class="form-control" type="email" autocomplete="off" required="" name="email" style="background-color: #f4f4f4;"><button class="btn btn-primary form-btn" type="submit" style="margin-left: 0px;margin-top: 10px;">Adicionar</button>
                <hr>
                <div class="form-row" style="margin-bottom: 100px;">
                    <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit" style="background-color: #68b04d;">Finalizar</button><a class="btn btn-danger form-btn" role="button" href="inicio.html">Cancelar</a></div>
                </div>
            </div>
    </div>
    </div>
    </form>
    </div>
    <div class="footer-basic" style="background-color: #3f70ba;padding: 3px;">
        <footer>
            <p class="copyright"><br>© 2019 - Todos os direitos reservados à&nbsp;Instituto Federal Catarinense - Campus Blumenau<br><br></p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/Multi-Level-Navbar.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
</body>

</html>