<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>inicio</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/cad_jovem.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Multi-Level-Navbar.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/sidebar-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body class="text-left">
    <div class="highlight-clean" style="background-color: #68b04d;padding-top: 26px;padding-bottom: 9px;">
        <div class="container">
            <div class="intro">
                <h2 class="text-center" style="color: #ffffff;">PORTAL DE OPORTUNIDADES</h2>
            </div>
        </div>
    </div>
    <div class="container profile profile-view" id="profile">
        <div class="row">
            <div class="col-md-12 alert-col relative">
                <div class="alert alert-info absolue center" role="alert"><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button><span>Profile save with success</span></div>
            </div>
        </div>
        <form>
            <div class="form-row profile-row">
                <div class="col-md-4 relative">
                    <div class="avatar"></div>
                    <div></div>
                    <div class="form-row">
                        <div class="col">
                            <h1 class="text-center">Cadastre sua oportunidade de emprego!</h1>
                            <hr>
                        </div>
                    </div>
                    <h1 class="text-center" style="font-size: 21px;">Use o espaço abaixo para descrever brevemente a oportunidade:</h1><textarea class="form-control" style="margin-top: 23px;background-color: #f4f4f4;height: 152px;" name="des_oprtdad" maxlength="300"></textarea></div>
                <div class="col-md-8">
                    <hr>
                    <div class="form-group"><label class="text-justify">Nome da oportunidade:</label><input class="form-control" type="text" style="background-color: #f4f4f4;" name="nom_oprtdad" maxlength="50"></div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Turno:</label><select class="form-control" name="nom_cidade" style="background-color: #f4f4f4;" value="des_hor_turno"><option value="12" selected="">Matutito</option><option value="13">Vespertino</option><option value="14">Noturno</option><option value="">Integral</option></select></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Trabalho ou estágio?</label><select class="form-control" name="tip_oprtdad" style="background-color: #f4f4f4;"><optgroup label="Escolha entre Trabalho e Estágio"><option value="12" selected="">Trabalho</option><option value="13">Estágio</option></optgroup></select></div>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Horário de início:</label><input class="custom-range" type="range" name="des_hor_entrada"></div>
                        </div>
                        <div class="col-sm-12 col-md-6">
                            <div class="form-group"><label>Horário de término :</label><input class="custom-range" type="range" name="des_hor_saida"></div>
                        </div>
                    </div>
                    <div class="form-group"><label class="text-justify">Cidade:</label><select class="form-control" name="nom_cidade" style="background-color: #f4f4f4;"><option value="13">This is item 2</option><option value="14">This is item 3</option></select></div>
                    <hr style="margin-top: 45px;">
                    <div class="form-group"><label class="text-justify"><strong>Requisitos necessários:</strong></label><input class="form-control" type="text" style="background-color: #f4f4f4;" name="nom_empresa" value="req_necessario" maxlength="50"><button class="btn btn-primary form-btn"
                            type="submit" style="margin-left: 0px;margin-top: 10px;">Adicionar</button></div>
                    <div class="form-group">
                        <hr style="margin-top: 45px;"><label class="text-justify"><strong>Atividades exercidas:</strong></label><input class="form-control" type="text" style="background-color: #f4f4f4;" name="des_ativ_funcoes "><button class="btn btn-primary form-btn" type="submit"
                            style="margin-left: 0px;margin-top: 10px;">Adicionar</button></div>
                    <div class="form-group">
                        <hr style="margin-top: 45px;"><label class="text-justify"><strong>Benefícios:</strong></label><select class="form-control" style="background-color: #f4f4f4;padding-bottom: 0px;padding-top: 18px;" multiple="" name="des_beneficio"><option value="1">Vale transporte</option><option value="2">Vale alimentação</option><option value="3">Plano de saúde</option></select></div>
                    <hr
                        style="margin-top: 45px;">
                        <div class="form-row" style="margin-bottom: 100px;">
                            <div class="col-md-12 content-right"><button class="btn btn-primary form-btn" type="submit" style="background-color: #68b04d;">Finalizar</button><a class="btn btn-danger form-btn" role="button" href="inicio.html">Cancelar</a></div>
                        </div>
                </div>
            </div>
        </form>
    </div>
    <div class="footer-basic" style="background-color: #3f70ba;padding: 3px;">
        <footer>
            <p class="copyright"><br>© 2019 - Todos os direitos reservados à&nbsp;Instituto Federal Catarinense - Campus Blumenau<br><br></p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/Multi-Level-Navbar.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
</body>

</html>