<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>inicio</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/cad_jovem.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Multi-Level-Navbar.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/sidebar-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
    <link rel="stylesheet" href="assets/css/styles.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  
    <script> 
      $(document).ready(function(){
        $("#flip").click(function(){$("#panel").slideDown(500);});
        $("#flop").click(function(){$("#panel").slideUp(500);});
      });
    </script>

    <style> 
        #panel {
          padding: 5px;
          font-size: 18px;
          background-color: #bdc1c2;
          color: white;
          border: solid 1px #bdc1c2;
          border-radius: 0px;
        }
    
        #panel {
          padding: 0px;
          display: none;
        }
    
      </style>
    

</head>

<body style="color: #f4f4f4;font-family: Raleway, sans-serif;">
    
    <nav class="navbar navbar-light navbar-expand-md navigation-clean" style="background-color: #68b04d;">
        <div class="container"><a class="navbar-brand" href="#" style="font-family: Raleway, sans-serif;color: #f4f4f4;">Portal de oportunidades</a><button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div
                class="collapse navbar-collapse" id="navcol-1">
                <ul class="nav navbar-nav ml-auto">
                    <li class="nav-item" role="presentation"></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #f4f4f4;font-family: Raleway, sans-serif;">Perfil</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #f4f4f4;font-family: Raleway, sans-serif;">Notificações</a></li>
                    <li class="nav-item" role="presentation"><a class="nav-link" href="#" style="color: #f4f4f4;">Minhas vagas</a></li>
                    <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" data-toggle="dropdown" aria-expanded="false" href="#" style="color: #f4f4f4;">Mais</a>
                        <div class="dropdown-menu" role="menu"><a class="dropdown-item" role="presentation" href="#">First Item</a><a class="dropdown-item" role="presentation" href="#">Second Item</a><a class="dropdown-item" role="presentation" href="#">Third Item</a></div>
                    </li>
                </ul>
        </div>
        </div>
    </nav>


    <div class="container profile profile-view" id="profile">
        <form>
            <div class="form-row profile-row" style="background-color: rgba(255,255,255,0);">
                
                
                <div class="col-md-8" style="padding-right: 20px;background-color: #bdc1c2;padding-left: 20px;">
                    <div class="avatar" style="padding: 12px;padding-bottom: 0px;margin-bottom: -7px;">
                        <h1 class="text-break text-justify" style="padding-top: 0px;font-family: Raleway, sans-serif;">NOME OPORTUNIDADE</h1>
                    </div>
                    <hr>
                    <div class="form-row" style="padding-left: 0px;margin-top: -13px;margin-bottom: -19px;">
                        <div class="col-sm-12 col-md-6 text-center text-sm-center text-md-center text-lg-center text-xl-center" style="margin-bottom: 0px;padding-bottom: 12px;">
                            <h6 class="text-break text-center text-sm-center text-md-center text-lg-center text-xl-center" style="padding-top: 12px;font-family: Raleway, sans-serif;">NOME OPORTUNIDADE</h6><img class="img-fluid" src="assets/img/logo-user-png-5.png" style="height: 130px;width: 130px;"></div>
                        <div class="col-sm-12 col-md-6">
                            <p class="text-justify" style="font-family: Raleway, sans-serif;color: #ffffff;font-size: 19px;line-height: 24px;padding-top: 10px;">Procura-se jovem sem experiência com pró atividade que eseja disposto a trabalhar durante o período matutino.<br></p>
                            <p style="font-family: Raleway, sans-serif;color: #ffffff;font-size: 19px;line-height: 26px;"><strong>NOME CIDADE - SC</strong></p>
                            <p style="font-family: Raleway, sans-serif;color: #ffffff;font-size: 19px;line-height: 26px;margin-top: -19px;"><strong>TRABALHO OU ESTÁGIO</strong></p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row text-center text-sm-center text-md-center text-lg-center text-xl-center">
                        <div class="col"><button id="flip" class="btn btn-primary form-btn" type="submit" style="width: 193px;padding: 0px;margin: 0px;height: 40px;margin-bottom: 9px;margin-top: -7px;">Ver mais</button></div>
                    </div>
                </div>


                <div id="panel" class="col-md-8" style="padding-right: 20px;background-color: #bdc1c2;padding-left: 20px;">
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <div>
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 23px;">REQUISITOS NECESSÁRIOS:</p>
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;">- LISTA DE BENEFÍCIOS</p>
                            </div>
                        </div>
                        <div class="col">
                            <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 23px;"><strong>ATIVIDADES DO CARGO:</strong></p>
                            <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;">- LISTA DE BENEFÍCIOS</p>
                        </div>
                    </div>
                    <hr>
                    <div class="form-row">
                        <div class="col">
                            <div>
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 23px;"><strong>TURNO:</strong></p>
                            </div>
                            <div class="d-flex" style="padding-right: 0px;margin-top: -21px;margin-bottom: -21px;">
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;">Início:</p>
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;margin-left: 20px;"><strong>horário</strong></p>
                            </div>
                            <div class="d-flex">
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;">Início:</p>
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;margin-left: 20px;">horário</p>
                            </div>
                        </div>
                        <div class="col">
                            <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 23px;"><strong>BENEFÍCIOS:</strong></p>
                            <div style="padding-right: 0px;margin-top: -21px;margin-bottom: -21px;">
                                <p style="color: #ffffff;font-family: Raleway, sans-serif;font-size: 19px;">- LISTA DE BENEFÍCIOS</p>
                            </div>
                        </div>
                    </div>   
                    <hr>
                    <div class="form-row">
                        <div class="col text-center text-sm-center text-md-center text-lg-center text-xl-center" style="padding-top: 7px;"><button class="btn btn-primary form-btn" type="submit" style="background-color: #68b04d; border-color: #68b04d;width: 193px;padding: 0px;margin: 0px;height: 40px;margin-bottom: 9px;margin-top: -7px;">Tenho interesse</button></div>
                        <div class="col text-center text-sm-center text-md-center text-lg-center text-xl-center" style="padding-top: 7px;"><button class="btn btn-primary form-btn" type="submit" style="width: 193px;padding: 0px;margin: 0px;height: 40px;margin-bottom: 9px;margin-top: -7px;">Visitar Perfil</button></div>
                        <div id="flop" class="col text-center text-sm-center text-md-center text-lg-center text-xl-center" style="padding-top: 7px;"><button class="btn btn-primary form-btn" type="submit" style="background-color: #ea4b41; border-color: #ea4b41; width: 3px;padding: 0px;margin: 0px;height: 40px;margin-bottom: 9px;margin-top: -7px;"> X </button></div>  
                    </div>
                </div>


            </div>
        </form>
    </div>
    
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/Multi-Level-Navbar.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
</body>

</html>