<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>inicio</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Alfa+Slab+One">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Article-List.css">
    <link rel="stylesheet" href="assets/css/cad_jovem.css">
    <link rel="stylesheet" href="assets/css/Contact-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Footer-Basic.css">
    <link rel="stylesheet" href="assets/css/Header-Blue.css">
    <link rel="stylesheet" href="assets/css/Highlight-Clean.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Dark.css">
    <link rel="stylesheet" href="assets/css/Multi-Level-Navbar.css">
    <link rel="stylesheet" href="assets/css/Navigation-Clean.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Button.css">
    <link rel="stylesheet" href="assets/css/Navigation-with-Search.css">
    <link rel="stylesheet" href="assets/css/Profile-Edit-Form.css">
    <link rel="stylesheet" href="assets/css/sidebar-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2-1.css">
    <link rel="stylesheet" href="assets/css/SIdebar-Responsive-2.css">
    <link rel="stylesheet" href="assets/css/sidebar.css">
    <link rel="stylesheet" href="assets/css/styles.css">
</head>

<body>
    <div class="highlight-clean">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">PORTAL DE OPORTUNIDADES</h2>
                <h2 class="text-center" style="padding: 0px;margin: 0px;margin-top: -28px;margin-bottom: -15px;font-size: 26px;">Crie sua conta</h2>
                <p class="text-center"></p>
            </div>
            <div class="buttons"><a class="btn btn-light" role="button" href="cad_jovem.html" style="background-color: #3f70ba;color: #ffffff;width: 132px;height: 56px;font-size: 15px;margin-top: 8px;padding-top: 20px;">JOVEM</a><a class="btn btn-light" role="button" href="cad_empresa.html"
                    style="background-color: #3f70ba;color: #ffffff;width: 132px;height: 56px;font-size: 15px;padding-top: 20px;">EMPRESA</a></div>
        </div>
    </div>
    <div class="login-dark" style="background-color: #68b04d;background-image: url(&quot;0&quot;);height: 566px;">
        <form method="post" style="margin-top: 1px;background-color: #ffffff;">
            <h2 class="sr-only">Login Form</h2>
            <div class="illustration"><i class="icon ion-ios-locked-outline" style="color: #3f70ba;"></i></div>
            <div class="form-group"><input class="form-control" type="email" name="des_end_email" placeholder="Email" style="color: rgb(108,117,125);"></div>
            <div class="form-group"><input class="form-control" type="password" name="txt_senha" placeholder="Senha" style="color: #6c757d;"></div>
            <div class="form-group"><button class="btn btn-primary btn-block" type="submit" style="background-color: #3f70ba;">Acessar</button></div><a class="forgot" href="#">Esqueceu sua senha?</a></form>
    </div>
    <div class="article-list">
        <div class="container">
            <div class="intro">
                <h2 class="text-center">SAIBA MAIS</h2>
            </div>
            <div class="row articles">
                <div class="col-sm-6 col-md-4 item">
                    <p class="text-justify"><br>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed arcu eros, congue quis erat sed, pellentesque molestie odio. Aliquam elementum magna a sem luctus posuere. Mauris quis euismod enim. Pellentesque bibendum volutpat vehicula.
                        Aliquam posuere arcu non arcu dictum, a hendrerit erat suscipit. Nam sem nibh, hendrerit nec elit id, ultricies porta quam. Integer a ligula lacinia, mattis augue id, venenatis tortor.<br><br></p>
                </div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/Logo_IFC_vertical_Blumenau.png" style="height: 242px;"></a>
                    <h3 class="name" style="font-size: 19px;">Acesse</h3><a class="action" href="#"><i class="fa fa-arrow-circle-right" data-bs-hover-animate="pulse"></i></a></div>
                <div class="col-sm-6 col-md-4 item"><a href="#"><img class="img-fluid" src="assets/img/logo_pjm.png" style="margin-top: 16px;margin-bottom: 35px;"></a>
                    <h3 class="name" style="font-size: 19px;margin-top: 62px;">Acesse</h3><a class="action" href="#"><i class="fa fa-arrow-circle-right" data-bs-hover-animate="pulse"></i></a></div>
            </div>
        </div>
    </div>
    <div class="footer-basic" style="background-color: #3f70ba;padding: 3px;">
        <footer>
            <p class="copyright"><br>© 2019 - Todos os direitos reservados à&nbsp;Instituto Federal Catarinense - Campus Blumenau<br><br></p>
        </footer>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-animation.js"></script>
    <script src="assets/js/Multi-Level-Navbar.js"></script>
    <script src="assets/js/Profile-Edit-Form.js"></script>
</body>

</html>